html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #262626;
}

.main {
  width: 100%;
  height: 100%;
}
.header {
  width: 100%;
  height: 80px;
  text-align: center;
  margin-bottom: 0.5em;
  background: linear-gradient(
    69deg,
    rgba(2, 0, 36, 1) 23%,
    rgba(89, 12, 8, 1) 97%,
    rgba(255, 0, 53, 1) 100%
  );
  box-shadow: 6px 8px 75px -30px rgba(235, 214, 224, 1);
}

.header-text {
  padding-top: 15px;
  margin: 0;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 1em;
}

.master-container {
  padding-left: 0.2em;
  height: 100% !important;
}

.search-container {
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 10px !important;
}

.search-container input {
  top: -395px;
  left: -990px;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background-color: crimson;
  color: #fff;
  text-shadow: 0 0 10px crimson;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.267);
  z-index: 5;
  letter-spacing: 0.1em;
  transition: 1s all;
}

.search-container input:hover {
  cursor: pointer;
}

.search-container input:focus {
  width: 250px;
  cursor: text;
}

.search-container input:focus ~ .search {
  right: -250px;
  background-color: #151515;
  z-index: 6;
}

.search-container input:focus ~ .search::before {
  top: -395px;
  left: 100px;
  width: 25px;
}

.search-container input:focus ~ .search::after {
  top: -395px;
  left: 100px;
  width: 25px;
  height: 2px;
  border: none;
  background-color: #fff;
  border-radius: 0;
  transform: rotate(-45deg);
}

.search-container input::placeholder {
  color: #fff;
}

.show-suggestion {
  margin-bottom: 5px;
  margin-left: 15px;
  font-size: 1em;
  display: none;
  top: -695px;
  left: -190px;
  width: 250px;
  height: 50px;
  outline: none;
  border: none;
  background-color: rgba(235, 121, 143, 0.37);
  color: #fff;
  text-shadow: 0 0 10px rgba(187, 106, 122, 0.472);
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 rgba(143, 59, 76, 0.651),
    0 20px 25px 0 rgba(0, 0, 0, 0.267);
}

.show-suggestion:hover {
  cursor: pointer;
}
