body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 80px;
  overflow: hidden;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(56, 2, 15, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  box-shadow: 0 1px 6px rgb(105, 7, 7), 0 1px 4px rgb(122, 12, 12);
}

.header-text {
  padding-top: 15px;
  margin: 0;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 0.6em;
}
