html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #262626;
}

.main {
  width: 100%;
  height: 100%;
}
.header {
  width: 100%;
  height: 80px;
  text-align: center;
  margin-bottom: 0.5em;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(56, 2, 15, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  box-shadow: 0 1px 6px rgb(105, 7, 7), 0 1px 4px rgb(122, 12, 12);
}

.header-text {
  padding-top: 15px;
  margin: 0;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 0.6em;
}

.master-container {
  padding-left: 0.2em;
  height: 100% !important;
}

.search-container {
  height: 100px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
}

.search-container input {
  position: absolute;
  margin: auto;
  top: -395px;
  left: -990px;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background-color: crimson;
  color: #fff;
  text-shadow: 0 0 10px crimson;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.267);
  z-index: 5;
  letter-spacing: 0.1em;
  transition: 1s all;
}

.search-container input:hover {
  cursor: pointer;
}

.search-container input:focus {
  width: 250px;
  cursor: text;
}

.search-container input:focus ~ .search {
  right: -250px;
  background-color: #151515;
  z-index: 6;
}

.search-container input:focus ~ .search::before {
  top: -395px;
  left: 100px;
  width: 25px;
}

.search-container input:focus ~ .search::after {
  top: -395px;
  left: 100px;
  width: 25px;
  height: 2px;
  border: none;
  background-color: #fff;
  border-radius: 0;
  transform: rotate(-45deg);
}

.search-container input::placeholder {
  color: #fff;
}
