html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100%;
}
.header {
  width: 100%;
  height: 80px;
  text-align: center;
  margin-bottom: 0.5em;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(56, 2, 15, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  box-shadow: 0 1px 6px rgb(105, 7, 7), 0 1px 4px rgb(122, 12, 12);
}

.header-text {
  padding-top: 15px;
  margin: 0;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 0.6em;
}

.master-container {
  padding-left: 0.2em;
  height: 100% !important;
}

.feature-container {
  height: 100px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
}

.search {
  height: inherit;
  width: 55px;
  height: 55px;
  background-color: crimson;
  border-radius: 50%;
  z-index: 4;
}
